# GPU を有効にする変数
x-enable_gpu: &enable_gpu
  environment:
    - NVIDIA_VISIBLE_DEVICES=all
    - NVIDIA_DRIVER_CAPABILITIES=all
  deploy:
    resources:
      reservations:
        devices:
          - driver: nvidia
            count: 1
            capabilities: [gpu]


services:
  simulator:
    image: ib2_simulator:latest
    container_name: ib2_simulator
    privileged: true
    network_mode: host
    ipc: host
    # GPU を有効にする場合コメントアウト
    #<<: *enable_gpu
    environment:
      - DISPLAY # ホストのDISPLAY環境変数の値を反映する
      - LIBGL_ALWAYS_INDIRECT=0  # WSLgでは直接描画が可能な場合が多い
      - QT_X11_NO_MITSHM=1
      - MESA_GL_VERSION_OVERRIDE=3.3
    tty: true
    # systemd用の必須設定
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp:unconfined
    tmpfs:
      - /run
      - /run/lock
    volumes: 
      - ${PWD}/ib2_user_ws:${PWD}/ib2_user_ws
      - ./shared_data_sim:/home/nvidia/shared_data_sim:rw
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/.X11-unix:/tmp/.X11-unix  # X11ソケット
      - /run/user/${UID}:/run/user/${UID}  # WaylandソケットやDBusがここにあることも
    command: /sbin/init # 初期化スクリプトを実行せず、systemdのみを起動
