<?xml version="1.0"?>
<launch>

  <group ns="platform_launch">
    <!-- 
      If value set to false, the target nodes will be terminated when user logic is started.
    -->
    <param name="sensor_fusion" value="true" />
    <param name="slam_wrapper" value="true" />
    <param name="ctl_only" value="true" />
    <param name="fsm" value="true" />

    <!--
      If you want to start up camera_left and camera_right,
      you need to stop (set false) slam_wrapper.
    -->
    <param name="camera_left" value="false" />
    <param name="camera_right" value="false" />
  </group>


  <node name="simple_test" pkg="sample_tests" type="simple_test.py" output="screen">
    <!-- The parameters to be used in the user's program can be set -->
  </node>
</launch>
